<div class="on-map" id="form-container">
  <form [formGroup]="layerForm" (ngSubmit)="onSubmit(layerForm)">
    <div class="form-group">
      <label for="nameOfSpace">What do you call this space?</label>
      <input type="text"
            class="form-control"
            placeholder="e.g. coolest place ever"
            formControlName="nameOfSpace">
    </div>
    <div class="form-group">
      <label for="ratingOfSpace">How would you rate this space?</label><br>
      <span class="starRating">
        <input id="rating5" type="radio" formControlName="ratingOfSpace" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" formControlName="ratingOfSpace" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" formControlName="ratingOfSpace" value="3">
        <label for="rating3">3</label>
        <input id="rating2" type="radio" formControlName="ratingOfSpace" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" formControlName="ratingOfSpace" value="1">
        <label for="rating1">1</label>
      </span>
    </div>
    <!-- <div class="form-group">
      <label for="frequency">How often do you visit this space?</label>
      <input type="text"
            class="form-control"
            placeholder="e.g. Often; I live here!; Once as a Tourist"
            formControlName="frequency">
    </div> -->
    <div class="form-group">
      <label for="layerComment">Tell me about this place!</label>
      <input type="text"
            class="form-control"
            placeholder="e.g. This place needs work because... "
            formControlName="layerComment">
    </div>
    <!-- <div class="form-group">
      <label for="latitude">Location</label>
      <input type="text"
            class="form-control"
            placeholder="Lat/Lng"
            formControlName="location">
    </div> -->

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>

  </form>
</div>
