<div style="background-color:white">
  <template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Map Details:</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="mapForm" (ngSubmit)="onSubmit(mapForm)">
            <div class="form-group">
                <label for="frequency">What's the name of this map?</label>
                <input type="text"
                      class="form-control"
                      placeholder="e.g. coolest map ever"
                      formControlName="mapTitle">
          </div>

          <div class="form-group">
            <label for="frequency">What's it show?</label>
            <input type="text"
                  class="form-control"
                  placeholder="e.g. best eating spots"
                  formControlName="mapDesc">
          </div>

          <div class="form-group">
            <label for="frequency">Add some searchable hashtags:</label>
            <input type="text"
                  class="form-control"
                  placeholder="e.g. #organic #sushi"
                  formControlName="mapTags">
          </div>
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </form>
    </div>
  </template>

  <!-- <button id="save-map" class="btn btn-sm btn-outline-success" -->
          <!-- (click)="open(content)">Save Map</button> -->

          <button id="save-to-gallery-btn" class="btn btn-sm btn-secondary"
                (click)="open(content)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
</div>
