<div class="top-row">
    <div class="row">
        <p>Check out some maps from the comuniDADOS community...</p>
    </div>
    <div class="row">
        <div class="col">
            <h4>View As:
                <span class="view-choice">
                  <button class="btn btn-sm btn-default" (click)="changeView('grid')">
                      <i class="fa fa-th-large" aria-hidden="true" ></i> Grid
                  </button>
                  <button class="btn btn-sm btn-default" (click)="changeView('list')">
                      <i class="fa fa-th-list" aria-hidden="true"></i> List
                  </button>
                </span>
            </h4>
        </div>
        <div class="col">
            {{ filterInput.value }}
        </div>
        <div class="col">
            <input id="input-filter" type="text" #filterInput (keyup)="0" placeholder="Filter by...">
        </div>
    </div>
</div>
    <div class="row results-row">
        <!-- list view -->
        <div *ngFor="let webMap of fireGallery | fileNamePipe:filterInput.value; let i = index" [ngStyle]="{ display: listView }" class="list-view col-xs-12 offset-sm-3 col-sm-6">
            <div class="media">
                <!-- <img class="d-flex mr-3 img-thumbnail img-fluid" src="http://placehold.it/100x100" alt="Generic placeholder image" id="bio-pic"> -->
                <div class="icon-wrapper">
                    <i class="fa fa-map-o"></i>
                </div>
                <div class="media-body">
                    <h5 class="mt-0">{{webMap.mapTitle}} by {{webMap.mapAuthor}}</h5>
                    <p><b>Created:</b> {{webMap.dateCreated | date}}</p>
                    <button class='btn btn-sm btn-outline-primary' (click)="viewMap(i)">Map</button>
                    <button class='btn btn-sm btn-outline-secondary' (click)="viewMapDetails(i)">Details</button>
                </div>
            </div>
        </div>

        <!-- grid view -->
        <div *ngFor="let webMap of fireGallery | fileNamePipe:filterInput.value; let i = index" [ngStyle]="{ display: gridView }" class="grid-view col-sm-6 col-md-4 col-lg-3">
            <a href="#">
                <img src="http://placehold.it/200x200" alt="..." class="img-thumbnail img-fluid">
            </a>
            <h4>{{webMap.mapTitle}}</h4>
            <h5>{{webMap.mapAuthor}}</h5>
            <h6>Created: {{webMap.dateCreated | date}}</h6>
            <button class='btn btn-sm btn-outline-primary' (click)="viewMap(i)">Map</button>
            <button class='btn btn-sm btn-outline-secondary' (click)="viewMapDetails(i)">Details</button>
        </div>

    </div>
