#main{

}
.view-choice{
  font-size: 24px;
}
.list-view{
  margin-bottom: 15px;
}
.grid-view{
    text-align: center;
}
#input-filter{
    float: right;
}
.media-body{
    font-size: 12px;
}
.media{
    padding: 10px;
}
.media:hover{
    box-shadow: 2px 2px 12px #ccc;
    background: #fcfcfc;
}
.icon-wrapper{
    position: relative;
    font-size: 30px;
    margin: 20px;
}
.top-row{
    background: #222222;
    color: white;
    padding: 50px;
    margin-top: 0px;
    top: 0;
    left: 0;
    right: 0;
}
.results-row{
    margin-top: 10px;
}
