#main{
    padding-top: 20px;
}

/* Sidebar navigation */
.side-bar{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 0px 20px 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222222;
}
.side-bar > .list-group-item {
    cursor: pointer;
    padding: .75rem 2.25rem;
    border: none;
    border-radius: 0px;
    background: none;
    color: white;
}

.side-bar > .list-group-item.active,
.side-bar > .list-group-item.active:hover{
  color: #0275d8;
  border: none;
  background-color: #EEEEEE;
}




.profile {
    min-height: 355px;
    display: inline-block;
    margin-top: 50px;
    }
figcaption.ratings {
    margin-top:20px;
    }
figcaption.ratings a {
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover {
    color:#f39c12;
    text-decoration:none;
    }
.divider {
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis {
    border-top: 4px solid transparent;
    }
.emphasis:hover {
    border-top: 4px solid #1abc9c;
    }
.emphasis h2 {
    margin-bottom:0;
    }
span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

#bio-pic {
    height:auto;
    width:50px;
    padding: .1rem;
}

#entry {
    margin-top: -40px;
}
.card-block p {
    margin-bottom: 5px;
}
/* edit form section */
label {
    font-weight: 600;
    font-size: 11px;
}
form > .form-group {
    margin-bottom: 0.5rem;
}
.img-wrapper{
    text-align: center;
    margin-bottom: 15px;
}
/* about section */
.about{
    text-align: center;
}
.about button{
    margin: 15px;
}
.quote{
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
}
.badge {
    padding: 7px 14px;
    font-size: 16px;
}
.badge i {
    margin: 5px;
}
#form-container{
    margin: 0 auto;
}
/* contacts section */
.contacts p {
    font-size: 12px;
}
