<div class="container" id="main">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="list-group side-bar">
				<li class="list-group-item" [routerLink]="['profile']" routerLinkActive="active">
					Profile
				</li>
				<li class="list-group-item" [routerLink]="['activity']" routerLinkActive="active">
					Feed
				</li>
				<li class="list-group-item" [routerLink]="['resources']" routerLinkActive="active">
					Resources
				</li>
				<li class="list-group-item" [routerLink]="['contacts']" routerLinkActive="active">
					Contacts
				</li>
			</ul>
		</div>
		<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 users-main">
			<router-outlet ></router-outlet>
		</div>
	</div>
</div>
