<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <span id="header-row">
                <i class="fa fa-users" aria-hidden="true"></i>
                <b>comuniDADOS</b>
            </span>

            <h1 class="sign-in__heading">Sign in</h1>
            <div class="alert alert-warning" role="alert" *ngIf="error">
              <strong>Oops!</strong> {{ error }}
            </div>
            <button (click)="loginFb()" type="button" class="btn btn-secondary btn-lg btn-block">
                <i style="color:#3b5998" class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
            <button (click)="loginGoogle()" type="button" class="btn btn-secondary btn-lg btn-block">
                <i style="color:#dd4b39" class="fa fa-google" aria-hidden="true"></i> Google</button>
            <button (click)="loginTwitter()" type="button" class="btn btn-secondary btn-lg btn-block">
                <i style="color:#00aced" class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
            <!-- <button (click)="test()" type="button" class="btn btn-secondary btn-lg btn-block">
                <i style="color:#999999" class="fa fa-github" aria-hidden="true"></i> GitHub</button> -->
            <!-- <button (click)="loginAnon()" type="button" class="btn btn-secondary btn-lg btn-block">
                <i style="color:#222222" class="fa fa-user-secret" aria-hidden="true"></i> As a Guest</button> -->
        </div>

    </div>
</div>
