/* You can add global styles to this file, and also import other style files */

.leaflet-control-zoom,
.leaflet-control-zoom > .leaflet-control-zoom-in,
.leaflet-control-zoom > .leaflet-control-zoom-out,
.leaflet-control-zoom > .leaflet-control-zoom-in:hover,
.leaflet-control-zoom > .leaflet-control-zoom-out:hover {
  /*width: 36px;*/
}

.leaflet-draw-toolbar > .leaflet-draw-toolbar-button-enabled{
  background-color: #c6cded;
}
.leaflet-draw-toolbar > a:first-child.leaflet-draw-toolbar-button-enabled {
  border-bottom: 2px solid blue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: inset;
}
.leaflet-draw-toolbar > a:not(first-child).leaflet-draw-toolbar-button-enabled {
  border-bottom: 2px solid blue;
  border-top: 1px solid blue;
  border-left: 0px;
  border-right: 0px;
  border-style: inset;
}
.leaflet-draw-toolbar > a:last-child.leaflet-draw-toolbar-button-enabled {
  border-top: 1px solid blue;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: inset;
}

.leaflet-draw.leaflet-control{
    margin-right: 3px;
}
.leaflet-draw-toolbar.leaflet-bar{
  /*border:1px blue solid;*/
  box-shadow: none;
  width: 39px;
}
.leaflet-draw .leaflet-draw-section .leaflet-draw-toolbar > a,
.leaflet-draw .leaflet-draw-section .leaflet-draw-toolbar > a:hover{
  width: 36px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 3px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -26px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -56px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -86px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -116px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -206px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -237px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -206px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -147px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -237px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -177px -2px;
}

.leaflet-draw-section > ul.leaflet-draw-actions{
    right: 39px;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 1px solid rgba(0,0,0,0.2);
}

/** end custom leaflet **/

.btn {
    cursor: pointer;
}
.leaflet-popup-content p {
    margin: 1px;
}
