<!-- Map -->
<div id="map"
	 leaflet
 	 leafletDraw >
	 <!-- <div id="side-bar">
		<button id="add-new-layer-btn" class="btn btn-sm btn-secondary">
			<i class="fa fa-plus-square" aria-hidden="true"></i>
		</button>
		<app-pop-up-savemap [isNew]='mapIsNew'
						   (savedUpdate)='onSavedUpdate($event)'></app-pop-up-savemap>
	 </div> -->
</div>

<div id="get-user-location-wrapper" class="leaflet-control-layers leaflet-control">
	<button id="get-user-location" (click)="getUserLocation()" class="btn btn-sm btn-outline-secondary">
	   <i class="fa fa-location-arrow" aria-hidden="true"></i>
   </button>
</div>

<div id="swipe-wrapper" class="row ">
	<div (click)="swipeLeft()" class="swipe-left-arrow col">
		<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
	</div>
	<div class="data-viz-name col-6">
		<span>{{ dataVizChoice }}</span>
	</div>
	<div (click)="swipeRight()" class="swipe-right-arrow col">
		<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
	</div>
</div>
<!-- <div id="search-wrapper" class="leaflet-control-layers leaflet-control">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1" (click)="test()">
			<i class="fa fa-search" aria-hidden="true"></i>
		</span>
		<input type="text" [(ngModel)]="address" (setAddress)="getAddress($event)" />
	</div>
</div> -->
<!-- <div *ngIf="editingForm" id="pop-up">
	<app-pop-up [newLayer]='popUpDetails'
				(formStatus)='formChange($event)'
				(savedDetails)='onSavedDetails($event)'>
  </app-pop-up>
</div> -->
