:host{
    position: static;
    width: 100%;
}
#map {
    position:absolute;
    bottom:0;
    top:50px;
    width:100%;
}
#search-wrapper{
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 55px;
  padding: 0px;
}

#side-bar{
    right: 0px;
    height: 100%;
    width: 48px;
    z-index: 450;
    position: fixed;
    background: #93a2ad;
    background: -webkit-linear-gradient(#93a2ad, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#93a2ad, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#93a2ad, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#93a2ad, white); /* Standard syntax */
}

#get-user-location-wrapper{
  z-index: 1000;
  position: absolute;
  bottom: 25px;
  right: 50px;
  padding: 0px;
}

#get-user-location{
  width: 36px;
  height: 34px;
  padding: 2px;
  border: none;
}
#get-user-location:hover{
    background: #f4f4f4;
    background-color: #f4f4f4;
}
#get-user-location i{
    font-size: 20px;
    color: #464646;
}
#add-new-layer-btn {
    bottom: 105px;
    right: 6px;
    position: absolute;
    width: 36px;
    border: none;
}
#add-new-layer-btn i {
    margin-top: 3px;
}

#swipe-wrapper {

}
#swipe-wrapper > *{
    z-index: 999;
    background: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.data-viz-name{
  text-align: center;
  font-size: 17px;
  padding-top: 13px;
}
.swipe-left-arrow{
  text-align:left;
  margin-left:10px;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.swipe-right-arrow{
  text-align:right;
  margin-right:10px;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}
