<div class="about card-block" >
    <img src="{{ profile?.profImg }}" alt="..." id="bio-pic" class="img-thumbnail img-fluid">
    <h3 class="card-title">{{ profile?.nameFirst }} {{ profile?.nameLast }}</h3>
    <p class="quote">{{ profile?.profDesc }}</p>
    <p>{{ profile?.profType }}</p>
    <p>{{ profile?.email }} </p>
    <p>{{ profile?.location }} </p>
    <p>Member since {{profile?.dateCreated | date }}</p>
    <span class="badge badge-pill badge-primary">
        <i class="fa fa-map-o"></i> <br /> 
        {{ profile?.maps.length }}
    </span>
    <span class="badge badge-pill badge-primary">
        <i class="fa fa-star-o"></i> <br />
        {{ profile?.profKarma }}
    </span>
    <br />
    <button class="btn btn-sm btn-secondary" (click)="onEditProfile()">Edit</button>
</div>
